#canvas {
    border:1px solid #ccc;
    width: 100%;
}
body>div{
    display: flex;
    flex-direction: column;
}
#img_container{
    display: flex;
    flex-direction: row;
}
#img_container img{
    max-width: 100%;
}